{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="pt-12 pb-4 border-b border-gray-800">
            <h1 class="text-4xl pt-12 pb-2">
                {{ posts|length }} blog posts
            </h1>
        </div>
    </div>

    {# {% if app.user %} #}
        <div class="mx-auto w-4/5 mt-12">
            <a 
                href="/posts/create" 
                class="uppercase border border-blue-600 text-lg py-4 px-6 rounded transition transition-all bg-white text-blue-700 hover:bg-blue-600 hover:text-white">
                Create new post
            </a>
        </div>
    {# {% endif %} #}
    
    <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 mt-4">
        <!-- Review Item -->
        {% for post in posts %}
            <div class="text-center mt-2 pt-8 pb-4">
                <img
                    src="{{ post.imagePath }}"
                    alt=""
                    class="shadow-xl rounded-md my-4"
                />

                <span class="font-light text-gray-500 pt-4">
                    {{ post.subject }}
                </span>

                <h2 class="text-gray-700 font-bold text-3xl py-2">
                    {{ post.title }}
                </h2>

                <span class="text-gray-500">
                    <span class="italic text-sm text-gray-800"> Posted by {{ post.author }} on 
                    {{ post.date|format_datetime('full', 'none') }}
                </span>

                <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                    {{ post.body }}
                </p>

                <a href="/posts/{{ post.id }}" class="uppercase border border-blue-600 bg-white text-blue-700 text-lg py-3 px-5 rounded transition transition-all hover:bg-blue-600 hover:text-white">
                    Read more
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}